<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>To Do list</title>
    </head>
    <body>
        <h1>Welcom to To do list</h1>

        <p>Create a new category:</p>

        <form action="/categories" method="post">
            <label for="name">Category name:</label>
            <input id="name" type="text" name="name">

            <button type="submit">Add Category</button>
        </form>

        {% if categories is not empty %}
            <p>Here are all your categories:</p>
            <ul>
                {% for category in categories %}
                    <li><a href="/categories/{{category.getId}}">{{ category.getName }}</a></li>
                    {% endfor %}
            </ul>
        {% else %}
            <p>There are no categories yet!</p>
        {% endif %}
        
    </body>
</html>
